/*#region general */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

html:root{
    --darker: #000000;
    --dark: #222222;
    --alert: #be2b25;
    --button:#4b4b4b;
    --validation: #4ac800;
}

body{
    background-color: var(--darker);
    font-family: Arial, Helvetica, sans-serif
}
/*#endregion general */
/*#region utilities */

.container {
    width: 90vw;
    height: 90vh;
    margin: auto
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.text-centred {
    text-align: center;
}
/* #endregion utilities */

/*#region header */
#app-header {
    margin: 1rem 0;
    position: sticky;
    top: 0;
    left: 0;
    min-width: 190px;
    background-color: var(--darker);
    z-index: 10000;
}



#app-header .buttons {
    text-align: end;
    margin-bottom: 1rem;
}
#app-header .buttons span {
    color: white;
    background-color: var(--button);
    margin: 0 0.3rem;
    padding: 0.3rem 0.4rem;
    line-height: 2.5rem;
    border-radius: 0.40rem;
    font-weight: 500;
}

#app-header .buttons span:hover{
    cursor: pointer;
    font-size: 18px;
}
/*#endregion header */

/*#region main  */
#app-main .user {
    margin: 0.3rem 0;
    position: relative;
    padding: 0 2px;
}

#app-main .user.user:active img{
    width: 270px;
    height: 180px;
}


#app-main .user-name {
    color: white;
    position: absolute;
    bottom:4px;
    left: 0;
    padding: 3px;
    background-color: rgba(128, 128, 128, 0.819);
}
/*#endregion main */

#app-footer {
    background-color: var(--dark);
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0.5rem;
    justify-content: space-between;
}

#app-footer li{
    list-style: none;
}
 #app-footer .footer-box {
    font-size: 2.3rem;
    color: white;
    margin-right: 0.5rem;

}

#app-footer .footer-box:hover .icon {
    font-size: 1.8rem
}

 #app-footer .icon{
    font-size: 1.5rem;
    
}

#app-footer .icon:not(#share-screen){
    color: white;
}
#app-footer .text{
    font-size: 0.6rem;
    color: white;
    display: block;
}

#app-footer .chevron {
    font-size: 0.7rem;
    color: white;
}

#share-screen {
    color: var(--validation);
}

#end-meeting {
    color: var(--alert);
    background-color: var(--button);
    padding:1px 5px;
    line-height: 2.8rem;
    font-size: 0.6rem;
    font-weight: bold;
}
